# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        node-version: [18.x, 22.x]

    name: Test (Nodejs v${{ matrix.node-version }}, OS ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn workspace esbuild-node-externals build

      - name: Test unit
        run: yarn workspace esbuild-node-externals test

      - name: Test integration esbuild@default
        run: yarn workspace example-basic build

      - name: Test integration esbuild@0.12 (minimal)
        run: |
          yarn workspace example-basic add esbuild@0.12
          yarn workspace example-basic build
