on:
  push:
    branches:
      - main

name: release-please
jobs:
  release-please:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # Required for OIDC
      pull-requests: write
      issues: write
    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v5
        if: ${{ fromJSON(steps.release.outputs.releases_created) }}

      - name: Use Node 22
        uses: actions/setup-node@v5
        with:
          node-version: 22.x
          cache: 'yarn'
        if: ${{ fromJSON(steps.release.outputs.releases_created) }}

      - name: Install dependencies
        run: yarn install --immutable
        if: ${{ fromJSON(steps.release.outputs.releases_created) }}

      - name: Build esbuild-node-externals
        run: yarn workspace esbuild-node-externals build
        if: ${{ fromJSON(steps.release.outputs.releases_created) }}

      - name: Publish esbuild-node-externals npm package
        run: yarn workspace esbuild-node-externals npm publish
        env:
          # Use OIDC for npm authentication instead of NPM_TOKEN
          NPM_TOKEN: '' # https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
        if: ${{ fromJSON(steps.release.outputs.releases_created) }}
